
/*=============================================
=                  Web Fonts                  =
=============================================*/

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');


/*=============================================
=                 Base Styes                  =
=============================================*/
* {
    box-sizing: border-box;
}
body {
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    background-color: #fafafa;
    line-height: 1.65rem;
}
ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}
p {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 1rem;
}
img {
    width: 100%;
}
main {
    background-color: #fff;
}
footer {
    border-top: 1px solid grey;
    padding-bottom: 3rem;
}


/*=============================================
=                  Main Styles                =
=============================================*/
#contact {
    background-color: #fafafa;
    padding-top: 2rem;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
}

.main-nav li {
    background-color: #fff;
    padding: 10px 0;
    margin: 1rem 0;
}

.portfolio {
    padding: 1rem 0;
}
footer li:not(:first-child):not(:last-child){
    display: none;
}
footer li:first-child {
    float: left;
}
footer li:last-child {
    float: right;
}
#contact {
    margin-bottom: 2rem;
}


/*=============================================
=                 Media Queries               =
=============================================*/




